<div class="text-sm font-bold">
  <header class="mb-4 text-lg">On this page</header>
  <div class="relative">
    <ul class="text- relative z-10 flex flex-col">
      @for (anchor of anchors(); track anchor.title) {
      <li class="relative py-2">
        <div class="flex items-center gap-4">
          <!-- <div class="flex w-[11px] shrink-0 items-center justify-center">
            <div
              class="rounded-full outline"
              [ngClass]="{
                'size-[11px]': anchor.type === 'H2',
                'size-[7px]': anchor.type === 'H3'
              }"
              [class.!bg-primary]="
                activeAnchorTitle() === anchor.title
              "></div>
          </div> -->

          <a
            [ngClass]="{
              'text-primary font-bold': activeAnchorTitle() === anchor.title,
              'ml-2 font-medium': anchor.type === 'H3'
            }"
            [fragment]="anchor.fragment"
            [routerLink]="[]">
            {{ anchor.title }}
          </a>
        </div>
      </li>
      }
      <li>
        <div>
          <a (click)="backToTop()">Back to top</a>
        </div>
      </li>
    </ul>
  </div>
</div>
