<div class="flex h-full bg-zinc-50 dark:bg-black">
  <div class="flex w-full">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div
          class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
      </div>
    </div>

    <div class="relative flex w-full flex-col">
      <app-header />

      <main class="flex-auto">
        <div class="sm:px-8 mt-16 sm:mt-32">
          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>

      <app-footer />
    </div>
  </div>
</div>
